 /* */

body{
    font-family: 'Barlow Condensed', sans-serif;
    background-color: #fffce9;
 }

header{
    background: #5f7483;
    padding: 10px 0px 20px 0px;
}

.titulo_proyecto{
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    color: #fffce9;
}

.explicacion_desafio_caja{
    width: 980px;
    position: relative;
    margin: 0px auto;
    padding: 40px 0px 20px 20px;
}

.caja_texto_introduccion{
    width: 55%;

}

.titulo_introduccion{
    font-size: 2.3em;
    font-weight:500;
    line-height: 1.2em;
    padding-bottom: 30px;
    padding-top: 50px;
    color: #8c6a47;
}

.texto_introduccion{
    font-size: 1.5em;
    line-height: 1.2em;
    color: #364e45;
    font-weight:400;
    text-align: justify;
}

.ilustracion_1{
    width: 40%;
    float: right;
}   

 /* No hagas movimiento a lo que se encuentra antes de este punto */

 .caja_codificador_general{
    padding: 3em;
}

.caja_texto_ingresado{
}

.advertencia{
    font-size: 1em;
}

.caja_botones{
}

.encriptar{
    text-align: center;
}

.desencriptar{
    text-align: center;
}

.caja_mensaje{

}

.ilustracion_2{
    width: 250px;
}

footer{

}

.nombre{
    text-align: center;
}

ul{

}

.logo{
    margin: 10px;
    width: 100px;
}

.Alura-oracle{
    width: 500px;
    position: relative;
    margin: 0 auto;
}

